.header {
  border-bottom: solid grey 1px;
}
.linkImg {
  width: 2em;
  padding: 0.2em;
}

.businessName {
  font-size: 1.6rem;
  padding: none;
  align-items: baseline;
}

.endItem {
  align-items: flex-end;
}
.address {
  align-items: baseline;
}
