.container {
  //   position: relative;
  height: 100vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.exitButton {
  position: absolute;
  right: 7.5em;
  top: 3.25em;
}
.plantModalPhoto {
  //   margin-top: 5vw;
  width: 75vw;
  height: 85vh;
  object-fit: cover;
  margin-bottom: auto;
  margin-top: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modalArrows {
  top: 20%;
}

.forwardArrowModal {
  position: absolute;
  top: 50%;
  left: 95%;
}
.backwardArrowModal {
  position: absolute;
  top: 50%;
  right: 95%;
}
