.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.forwardArrow {
  position: absolute;
  top: 70%;
  right: 1em;
}
.backwardArrow {
  position: absolute;
  top: 70%;
  left: 1em;
}
.plantStorePhoto {
  width: 20em;
  height: 17em;
  object-fit: cover;
}
