@import "./globalStyles/colors.scss";
.App {
  text-align: center;
  width: fit-content;
  block-size: fit-content;
}
.wrapper {
  display: flex;
}

.storesContainer {
  width: fit-content;
  block-size: fit-content;
  width: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
}

.storeContainer {
  position: relative;
  border-bottom: 0.01em solid $offWhite;
  border-right: 0.01em solid $offWhite;
  border-bottom-right-radius: 0.1em;
  border-top-right-radius: 0.1em;
}
.modalIsOpen {
  position: sticky;
}
@media screen and (max-width: 767px) {
  .wrapper {
    display: block;
  }
  .storesContainer {
    width: 100vw;
  }
}
